<!-- THE HEADER BAND -->
<div *ngIf="force" class="force-header box-dark orange-bg">
  <div class="back-arrow box-dark-hover" (click)="backArrow()"><img src="/assets/icons/icon-arrow-left-128.png"></div>
  <div>
    <div class="force-name"><input class="input-dark font-title-big" [(ngModel)]="force.name" (blur)="saveForce()"></div>
    <div class="force-details">{{force.faction.name}} ({{force.cost}} Points)</div>
  </div>
</div>

<!-- THE CONTENT AREA -->
<div *ngIf="force" class="column-section">

  <!-- LEFT PANE -->
  <div class="left">

    <!-- BUTTON LIST -->
    <div class="button-bar">

      <!-- ADD MODEL BUTTON -->
      <div class="create-model-button-zone" (click)="showModelListDropdown = true" (appClickElsewhere)="showModelListDropdown = false">
        <div class="action-button box-light-hover font-title">
          <img src="/assets/icons/icon-outline-plus-128.png">
          <div class="button-text">Add Model</div>
        </div>
        <div *ngIf="showModelListDropdown" class="create-model-button-dropdown box-white font-normal">
          <div *ngFor="let model of factionModels" class="model-selection box-light-hover" (click)="addModel(model); showModelListDropdown = false;">
            <div class="model-image-box"><img class="model-image" [src]="'assets/portraits/' + model.modelData.picture"></div>
            <div class="model-text-box">{{model.modelData.name}} ({{model.modelData.cost}} Points)</div>
          </div>
        </div>
      </div>

      <!-- PRINT FORCE BUTTON -->
      <div *ngIf="!isWindowMobile()" class="action-button box-light-hover font-title" (click)="printForce()">
        <img src="/assets/icons/icon-print-128.png">
        <div class="button-text">Print Force</div>
      </div>
    
    </div>

    <!-- LIST OF ROWS -->
    <div class="model-list">

      <!-- FORCE LIST ITEM -->
      <app-force-list-item
            *ngIf="commonAbilitiesExist" 
            [force]="force" 
            [selected]="selectedItemIndex === 0"
            (click)="selectForce()"
            >
      </app-force-list-item>

      <!-- MODEL LIST ITEM -->
      <app-model-list-item 
            *ngFor="let model of force.models; index as modelIndex;"
            [model]="model" 
            [selected]="selectedModelIndex === modelIndex" 
            (click)="selectModel(model)"
            (increaseCount)="increaseModelCount(model)"
            (decreaseCount)="decreaseModelCount(model)"
            (selectLeader)="selectLeader(model)"
            >
      </app-model-list-item>

    </div>
  
  </div>

  <!-- RIGHT PANE, MODEL EDITOR -->
  <div *ngIf="!isWindowMobile()" class="right dark-grey-bg">

    <!-- FORCE ABILITIES VIEW -->
    <app-view-force-abilities *ngIf="commonAbilitiesExist && selectedItemIndex === 0" [force]="force"></app-view-force-abilities>
      
    <!-- MODEL VIEW -->
    <app-model-view [model]="force.models[selectedModelIndex]" [allowEdit]="true" (updated)="saveForce()"></app-model-view>

    <!-- OPTION SELECTOR -->
    <app-model-options [force]="force" [model]="force.models[selectedModelIndex]" (updated)="saveForce()"></app-model-options>

  </div>

</div>