<!-- THE HEADER BAND -->
<div *ngIf="force" class="force-header box-dark">
  <div class="back-arrow box-dark-hover" (click)="backArrow()"><img src="/assets/icons/icon-arrow-left-128.png"></div>
  <div>
    <div class="force-name"><input class="input-dark font-title-big" [(ngModel)]="force.name" (blur)="saveForce()"></div>
    <div class="force-cost font-subtitle">{{force.cost}} Points</div>
  </div>
</div>

<!-- THE CONTENT AREA -->
<div *ngIf="force" class="column-section">

  <!-- LEFT PANE -->
  <div class="left">

    <!-- BUTTON LIST -->
    <div>

      <!-- ADD MODEL BUTTON -->
      <div class="create-model-button-zone" (click)="showModelListDropdown = true" (appClickElsewhere)="showModelListDropdown = false">
        <div class="action-button box-light-hover font-title">
          <img src="/assets/icons/icon-outline-plus-128.png">
          <div class="button-text">Add Model</div>
        </div>
        <div *ngIf="showModelListDropdown" class="create-model-button-dropdown box-white font-normal">
          <div *ngFor="let model of modelTemplates" class="model-selection box-light-hover" (click)="addModel(model); showModelListDropdown = false;">
            <div class="model-image-box"><img class="model-image" [src]="'assets/portraits/' + model.picture"></div>
            <div class="model-text-box">{{model.name}} ({{model.cost}} Points)</div>
          </div>
        </div>
      </div>

      <!-- PRINT FORCE BUTTON -->
      <div *ngIf="!isWindowMobile()" class="action-button box-light-hover font-title" (click)="printForce()">
        <img src="/assets/icons/icon-print-128.png">
        <div class="button-text">Print Force</div>
      </div>
    
    </div>

    <!-- LIST OF MODELS IN FORCE -->
    <div class="model-list">
      <div *ngFor="let model of force.models; index as modelIndex;" 
        class="model-tile"
        (click)="selectModel(modelIndex)"
        [class.selected]="modelIndex === selectedModelIndex">
        <div *ngIf="model.count > 1" class="model-count box-mid font-normal">x{{model.count}}</div>
        <app-model-tile 
              [model]="model" 
              [force]="force" 
              [selected]="modelIndex == selectedModelIndex" 
              (increaseCount)="increaseModelCount(modelIndex)"
              (decreaseCount)="decreaseModelCount(modelIndex)"
              >
        </app-model-tile>
      </div>
    </div>
  
  </div>

  <!-- RIGHT PANE, MODEL EDITOR -->
  <div *ngIf="!isWindowMobile()" class="right">
      
    <!-- BUTTON BAR -->
    <div class="button-bar">
      <div class="action-button box-light-hover font-title" (click)="modelOptions()">
        <img src="/assets/icons/icon-edit-128.png">
        <div class="button-text">Options</div>
      </div>
    </div>

    <!-- MODEL VIEW -->
    <app-model-view [model]="force.models[selectedModelIndex]" [allowEdit]="true" (updated)="saveForce()"></app-model-view>
  </div>

</div>