/* HEADER LAYOUT */
.force-header {
    width: 100%; 
    height:64px;
    position: relative;
    box-sizing: border-box;
    border-top: 0px;
    display: flex;
}
.back-arrow {
    width: 64px;
    border: none;
    vertical-align: center;
    box-sizing: border-box;
    background: transparent;
}
.back-arrow img {
    width:64px;
}
.force-name input {
    background: transparent;
}
.force-details {
    margin-left: 8px;
}

/* multi-column display */
.column-section {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 64px; 
    bottom: 0px;
    display: flex;    
}
.column-section .left {
    flex: 1 1 50%;
    height: 100%;
    overflow-y: auto;    
}
.column-section .right {
    flex: 1 1 50%;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;    
}

/* CREATE MODEL BUTTON */
.create-model-button-zone {
    position: relative;
    display: inline-block;
}
.create-model-button-dropdown {
    position: absolute;
    top: 32px;
    left: 4px;
    width: 250px;
    z-index: 2;
}
.model-selection {
    padding: 4px;
    height: 24px;
    border: none;    
}
.model-selection .model-image-box {
    position: absolute;
    width: 24px;
}
.model-selection .model-image {
    height: 24px; margin-left: auto; margin-right: auto; display: block;
}
.model-selection .model-text-box {
    float: left;
    padding-left: 28px;
    padding-top: 4px;
}

/* MODEL LIST */
.model-list {
    padding: 8px;
}
