/* HEADER LAYOUT */
.force-header {
    width: 100%; 
    height:64px;
    position: relative;
    box-sizing: border-box;
    border-top: 0px;
    display: flex;
}
.back-arrow {
    width: 64px;
    border: none;
    vertical-align: center;
    box-sizing: border-box;
    background: transparent;
}
.back-arrow img {
    width:64px;
}
.force-name input {
    background: transparent;
}
.force-details {
    margin-left: 8px;
}

/* multi-column display */
.column-section {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 64px; 
    bottom: 0px;
    display: flex;    
}
.column-section .left {
    flex: 1 1 50%;
    height: 100%;
    overflow-y: auto;    
}
.column-section .right {
    flex: 1 1 50%;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;    
}

/* CREATE MODEL BUTTON */
.create-model-button-zone {
    position: relative;
    display: inline-block;
}
.create-model-button-dropdown {
    position: absolute;
    top: 32px;
    left: 4px;
    width: 250px;
    z-index: 2;
}
.model-selection {
    padding: 4px;
    height: 24px;
    border: none;    
}
.model-selection .model-image-box {
    position: absolute;
    height: 24px;
    width: 24px;
    object-fit: contain;
    background: white;
}
.model-image {
    height: 24px; 
    width: 24px;
    object-fit: contain;
    background: white;
}

.model-selection .model-text-box {
    float: left;
    padding-left: 28px;
    padding-top: 4px;
}

/* FORCE LIST */
.force-list {
    padding: 8px;
}

/* DRAG & DROP MODEL LIST */
.model-list {
    padding: 8px;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .model-list.cdk-drop-list-dragging .model-list-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
