div.force-action {
    height: 136px; width: 212px;
    border-radius: 4px;
    position: relative;
    margin: 8px;
    text-align: center;
    box-sizing: border-box;
}
div.force-action img {
    width: 48px;
    margin-top: 28px;
}
div.force-action div {

}

div.force-list {
    display: flex;
    flex-flow: row wrap;
}
div.force-list div {
    flex: 0 0 264px;
    margin: 8px;
}
