/* MODEL FLEX LAYOUT */
.model-tile {
    position: relative;
    border-radius: 4px;
    display: flex;
    margin-bottom: 4px;
}
.model-image-box {
    padding: 4px;
}
.model-details-box {
    flex: 1 1 1px;
    padding: 4px;
}
.model-button-box {
    flex: 0 0 60px;
}

/* FIELD DETAILS */
.force-model-name {
    overflow-x: hidden;
    white-space: nowrap;
}
.model-image {
    height: 48px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}
.model-button {
    float: left;
    border-radius: 4px;
    height: 20px;
    margin: 16px 2px;
}
.model-button img {
    width: 20px;
}
