<div class="model-tile box-light-hover" [class.selected]="selected">
  <div class="model-image-box">
    <img class="model-image" [src]="'assets/portraits/' + model.picture">
  </div>
  <div class="model-details-box">
    <div class="model-name font-title">{{model.forceModelName}}</div>
    <div class="model-cost font-normal">{{model.cost}} points</div>
    <div class="model-button-band">
      <div *ngIf="force" class="model-button box-light-hover" (click)="increaseCount.emit()"><img src="/assets/icons/icon-plus-128.png"></div>
      <div *ngIf="force" class="model-button box-light-hover" (click)="decreaseCount.emit()"><img src="/assets/icons/icon-minus-128.png"></div>
    </div>
  </div>
</div>  
