<!-- THE CONTENT AREA -->
<div *ngIf="model" class="content-section">

  <!-- LIST OPTIONS -->
  <div *ngFor="let option of model.factionModelData.options">

    <div class="option-description font-orange">{{option.description}}</div>

    <!-- LIST CHOICES FOR OPTION -->
    <div *ngFor="let choice of option.choices; index as choiceIndex" 
      class="option-choice box-light-hover" 
      (click)="selectChoice(option.id, choiceIndex)"
      [class.selected]="isChoiceSelected(option.id, choiceIndex)"
      >

      <!-- LIST ATTACKS FOR CHOICE -->
      <div *ngFor="let attack of choice.attacks">
        <app-attack-details [attack]="attack" [cost]="choice.cost"></app-attack-details>
      </div>

      <!-- LIST ACTIONS FOR CHOICE -->
      <div *ngFor="let action of choice.actions">
          <app-action-details [action]="action" [cost]="choice.cost"></app-action-details>
        </div>

      <!-- LIST ABILITIES FOR CHOICE -->
      <div *ngFor="let ability of choice.abilities; index as abilityIndex" class="special-rule-box">
        <app-ability-details *ngIf="abilityIndex === 0" [ability]="ability" [cost]="choice.cost"></app-ability-details>
        <app-ability-details *ngIf="abilityIndex > 0" [ability]="ability" [cost]="0"></app-ability-details>
      </div>

    </div>
  </div>
</div>

  