<div class="selector-component-zone" (appClickElsewhere)="dropdownVisible=false ">
  <div class="select-button box-white-hover font-bold" (click)="dropdownVisible=true">
    <img *ngIf="ruleType != 'action'" src="/assets/icons/icon-outline-plus-128.png">
    <img *ngIf="ruleType == 'action'" src="/assets/icons/icon-star-invert.png">
    <div class="button-text">{{title}}</div>
  </div>
  <div *ngIf="dropdownVisible" class="dropdown-content font-normal box-white">
    <div *ngFor="let specialRule of specialRules" (click)="selectSpecialRule(specialRule.ruleName);" class="box-white-hover">
      <span *ngIf="specialRule.ruleType == 'model'">({{specialRule.ruleCost}} points) </span><b>{{specialRule.ruleName}}</b> - <span [innerHTML]="specialRule.ruleText"></span>      
    </div>
  </div>
</div>