/* the main model box */
* {
    font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 12px;
}
input {
    font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 12px;
}

.specialRuleSelectorBox {
    position: relative;
}

/* image in the selection box */
.plusIcon {
    width: 16px;
    position:absolute;
    top: 1px; left: 1px;
}

/* dropdown display styles */
.dropdownInput {
    width: auto;
    background-color: lightgrey;
    padding-left:18px;
    border: 1px solid black; border-radius: 8px;
    outline: darkslategrey;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
    box-sizing: border-box;
}
.dropdownInput:hover {
    background-color: lightslategray;
}
.dropdownInput:focus {
    border-color:darkslategray;
    background-color: white;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}
.dropdownInput::placeholder {
    color: black;
}
.dropdownContent {
    position: absolute;
    z-index: 1;
    border: 1px solid;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    left: 0px;
    box-sizing: border-box;
}
.dropdownContent div {
    padding: 2px;
    display: block;
}
.dropdownContent div:hover {
    background: darkslategrey;
    color: white;
}