.selector-component-zone {
    position: relative;
}

/* rule selection button */
.select-button {
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
    padding: 4px;
}
.select-button img {
    width: 32px;
    float: left;
}
div.select-button .button-text {
    padding-left: 36px;
    padding-top: 7px;
}


/* dropdown display styles */
.dropdown-content {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0px;
    box-sizing: border-box;
}
.dropdown-content div {
    padding: 4px;
    display: block;
    border-bottom: 1px solid lightgrey;
    border-top: none;
    border-right: none;
    border-left: none;
}
.dropdown-content div:hover {
    background: darkslategrey;
    color: white;
}