<div>

  <!-- ATTACK ICON -->
  <img *ngIf="attack.attackData.type==='MELEE'" [src]="'assets/icons/icon-melee-128.png'" class="attack-img">
  <img *ngIf="attack.attackData.type==='RANGED'" [src]="'assets/icons/icon-ranged-128.png'" class="attack-img">

  <!-- ATTACK NAME -->
  <b>{{attack.modelAttackName}}</b> ( 

    <!-- ATTACKS SAYS "SEE BELOW" -->
    <span *ngIf="attack.seeBelow">see below</span>

    <!-- ATTACKS STATS -->
    <span *ngIf="!attack.seeBelow">
      <span *ngIf="attack.attackData.type==='RANGED'">{{attack.attackData.RNG}}", </span>
      {{attack.attackData.DICE}}D6, {{attack.attackData.HIT}}+, AP{{attack.attackData.AP}}, D{{attack.attackData.DMG}}
    </span>
    )

    <!-- SPECIAL RULES -->
    <div *ngFor="let actionRule of attack.attackData.rules" class="action-rule-box">
      <span *ngIf="actionRule.ruleName != ''"><i>{{actionRule.ruleName}}</i> - </span>
      <span [innerHTML]="actionRule.ruleText" class="rule-text"></span>
  </div>
</div>
