<div class="column-section">
    
  <!-- MODEL LIST -->
  <div class="left">

    <!-- CREATE NEW MODEL BUTTON -->
    <div class="create-model-button box-light-hover font-title" (click)="newModelClick();">
      <img src="/assets/icons/icon-outline-plus-128.png">
      <div class="button-text">New Model</div>
    </div>

    <div *ngIf="models" class="model-list">
      <div *ngFor="let model of models; index as modelIndex" 
        (click)="onSelect(modelIndex)"
        [class.selected]="modelIndex === selectedModelIndex">
        
        <app-model-tile [model]="model" [selected]="modelIndex == selectedModelIndex" (change)="refreshData()"></app-model-tile>
      </div>
    </div>
  </div>

  <!-- MODEL DETAILS -->
  <div class="right">
    <app-model-details *ngIf="models && !models[selectedModelIndex].editable" [model]="models[selectedModelIndex]"></app-model-details>
    <app-model-editor *ngIf="models && models[selectedModelIndex].editable" [model]="models[selectedModelIndex]" (updated)="modelDetailsChanged(selectedModelIndex)"></app-model-editor>
  </div>
</div>