* {
    font-family: "Trebuchet MS", Helvetica, sans-serif; font-size: 16px;
}

/* multi-column display */
div.multiColumnSection {
    display: flex;
    margin: auto;
}
div.multiColumnSection .leftColumn {
    flex: 1 0 50px;
    margin: 16px;
}
div.multiColumnSection .rightColumn {
    flex: 0 0 518px;
    border: none; 
    margin: 16px;
}

/* model list */
ul.modelList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul.modelList li {
    padding: 4px;
    margin: 4px 0px 4px 0px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}
ul.modelList li:hover:not(.selected) {
    background: lightgray;
}
ul.modelList li:not(.selected) {
    background: #f3f3f3;
}
ul.modelList li.selected {
    background: gray;
}

/* MODEL BOX */
.modelImageBox {
    height: 75px; width: 75px; 
    display: inline-block;
    background-color: white;
}
.modelImage {
    height: 75px; margin-left: auto; margin-right: auto; display: block;
}
.modelDetailsBox {
    display: inline-block; vertical-align: top;
    width: 200px;
}
.modelName {
    font-weight: bold;
}
.modelCost { 
    margin-top:10px; margin-bottom: 10px;
    padding-left: 6px; padding-right: 6px;
    width: max-content;
    font-style: italic;
    background-color: grey; color: white; font-weight: bold; border-radius: 3px;
}
.modelButtonBox {
    display: inline-flex; align-items: center;
    vertical-align: top; height: 75px;
}
.modelButton {
    display: inline-block;
    border: 1px outset;
    padding: 4px 8px 4px 8px;
    margin: 4px;
    background-color: lightgrey; color: black;
    text-decoration: none;
}
.modelButton:hover {
    background-color: darkslategray; color: white;
}

.imageButton {
    border: 2px solid black;
    background-color:lightgrey;
    border-radius: 4px;
    padding: 2px;
    width: fit-content;
    margin-bottom:8px;
    display: inline-block;
}
.imageButton img {
    width: 16px; 
    margin-right: 4px;   
}
.imageButton:hover {
    background-color:lightslategrey;
}
