<div class="column-section">
    
  <!-- MODEL LIST -->
  <div class="left" style="height: 750px;">
    <div class="model-list">
      <div *ngFor="let model of models;" 
        (click)="onSelect(model)"
        [class.selected]="model === selectedModel">
        
        <app-model-tile [model]="model" [selected]="model === selectedModel" (change)="refreshData()"></app-model-tile>
      </div>
    </div>
  </div>

  <!-- MODEL DETAILS -->
  <div class="right">
    <div *ngIf="!editMode" class="imageButton" (click)="setEditMode(true)"><img src="/assets/icons/icon-edit-128.png">Edit</div>
    <div *ngIf="!editMode" class="imageButton" ><img src="/assets/icons/icon-clone-128.png">Clone</div>
    <div *ngIf="editMode" class="imageButton" (click)="setEditMode(false)"><img src="/assets/icons/icon-outline-check-128.png">Save</div>
    <div *ngIf="editMode" class="imageButton" (click)="setEditMode(false)"><img src="/assets/icons/icon-outline-close-128.png">Cancel</div>
    <app-model-details *ngIf="!editMode" [model]="selectedModel"></app-model-details>
    <app-model-editor *ngIf="editMode" [model]="selectedModel"></app-model-editor>
  </div>
</div>