/* multi-column display */
div.column-section {
    position: relative;
    top: 0; bottom: 0;
    display: flex;
    height: 100%;
}
div.column-section .left {
    flex: 1 1 50%;
    height: 100%;
    overflow-y: auto;    
}
div.column-section .right {
    flex: 1 1 50%;
    padding: 16px;
    background-color: lightgrey;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;    
}

@media only screen and ( max-width: 600px ) {
    div.column-section .right {
        display: none;
    }
}

/* NEW MODEL BUTTON */
div.create-model-button {
    display: inline-block;
    height: 50px;
    border-radius: 4px;
    position: relative;
    margin: 16px 8px 8px 8px;
    box-sizing: border-box;
    padding: 8px;
}
div.create-model-button img {
    width: 32px;
    float: left;
}
div.create-model-button .button-text {
    padding-left: 36px;
    padding-top: 7px;
}


/* model list */
div.model-list {
    display: flex;
    flex-flow: row wrap;
}
div.model-list div {
    flex: 0 0 264px;
    margin: 8px;
}

.imageButton {
    border: 2px solid black;
    background-color:lightgrey;
    border-radius: 4px;
    padding: 2px;
    width: fit-content;
    margin-bottom:8px;
    display: inline-block;
}
.imageButton img {
    width: 16px; 
    margin-right: 4px;   
}
.imageButton:hover {
    background-color:lightslategrey;
}
