<div class="force-header box-dark">
  <div class="back-arrow box-dark-hover" routerLink="/forces"><img src="/assets/icons/icon-arrow-left-128.png"></div>
  <div class="force-name font-title-big">Templar Attack!</div>
  <div class="force-size font-subtitle">Standard (200 Points)</div>
  <div class="force-model-summary font-normal">8 Models (123 Points)</div>
  <div class="force-equipment-summary">4 Equipment (46 Points)</div>
  <div class="force-total-cost font-subtitle">Total Cost (169 Points)</div>
</div>
<p>
  force-details works!
</p>
<p>
  ID: {{id}}
</p>
