/* for some reason angular puts a margin on the body tag */
body {
    margin:0px;
}

/* FONTS */
.font-normal {
    font-family: "Roboto", sans-serif; font-size: 16px;
    font-weight: normal; text-transform: none;
}
.font-title-big {
    font-family: "Roboto", sans-serif; font-size: 16px;
    font-size: 28px; font-weight: bold; text-transform: uppercase; 
}
.font-title {
    font-family: "Roboto", sans-serif; font-size: 16px;
    font-weight: bold; text-transform: uppercase; 
}
.font-subtitle {
    font-family: "Roboto", sans-serif; font-size: 16px;
    text-transform: capitalize;
}
.font-traits {
    font-family: "Roboto", sans-serif; font-size: 16px;
    font-style: italic; text-transform: capitalize; 
}

/* BOX COLORS (normally applied to DIV elements)

   box-white-hover     A white box that changes color if you hover over it
   box-light-hover     A light-color box that changes color if you hover over it
   box-mid-hover       A mid-color box that changes color if you hover over it
   box-dark-hover      A dark-color box that changes color if you hover over it
   box-black-hover     A dark-color box that changes color if you hover over it
   box-white           A light-color box that does not change color if you hover over it
   box-light           A light-color box that does not change color if you hover over it
   box-mid             A light-color box that does not change color if you hover over it
   box-dark            A light-color box that does not change color if you hover over it
   box-black           A light-color box that does not change color if you hover over it

   selected            Apply this class if the box has been selected. Will change the style
*/
.box-white-hover {
    color: black;
    border: 1px solid black;
}
.box-white-hover:not(.selected) {
    background-color: rgb(255, 255, 255);
}
.box-white-hover:hover:not(.selected) {
    background-color: rgb(211,211,211);
}
.box-white-hover.selected {
    background-color: rgb(128,128,128);
    color: white;
}
.box-light-hover {
    color: black;
    border: 1px solid black;
}
.box-light-hover:not(.selected) {
    background-color: rgb(243,243,243);
}
.box-light-hover:hover:not(.selected) {
    background-color: rgb(211,211,211);
}
.box-light-hover.selected {
    background-color: rgb(128,128,128);
    color: white;
}
.box-mid-hover {
    color: black;
    border: 1px solid black;
}
.box-mid-hover:not(.selected) {
    background-color: rgb(210,210,210);
}
.box-mid-hover:hover:not(.selected) {
    background-color: rgb(180,180,180);
}
.box-mid-hover.selected {
    background-color: rgb(96,96,96);
    color: white;
}
.box-dark-hover {
    color: white;
    border: 1px solid black;
}
.box-dark-hover:not(.selected) {
    background-color: rgb(96,96,96);
}
.box-dark-hover:hover:not(.selected) {
    background-color: rgb(128,128,128);
}
.box-dark-hover.selected {
    background-color: rgb(180,180,180);
    color: black;
}

.box-white {
    color: black;
    background-color: white;
    border: 1px solid black;
}
.box-light {
    color: black;
    background-color: rgb(243,243,243);
    border: 1px solid black;
}
.box-mid {
    color: black;
    background-color: rgb(210,210,210);
    border: 1px solid black;
}
.box-dark {
    color: white;
    background-color: rgb(96,96,96);
    border: 1px solid black;
}

/* INPUT STYLES */
input {
    border: 2px solid transparent; border-radius: 4px;
    width: 100%;
    padding: 0px 0px 0px 4px; 
    outline: none; box-sizing: border-box;
}
select {
    border: 2px solid transparent; border-radius: 4px;
    width: 100%;
    padding: 0px 0px 0px 4px; 
    outline: none; box-sizing: border-box;
}
.input-white {
    color: black;
    background-color: white;
}
.input-white:hover {
    border-color: rgb(64,64,64);
    background-color: rgb(211,211,211);
}
.input-white:focus {
    border-color: rgb(64,64,64);
    background-color: rgb(211,211,211);
}
.input-light {
    color: black;
    background-color: rgb(243,243,243);
}
.input-light:hover {
    border-color: rgb(64,64,64);
}
.input-light:focus {
    border-color: rgb(64,64,64);
}
.input-mid {
    color: black;
    background-color: rgb(210,210,210);
}
.input-mid:hover {
    border-color: rgb(64,64,64);
}
.input-mid:focus {
    border-color: rgb(64,64,64);
}
.input-dark {
    color: white;
    background-color: rgb(96,96,96);
}
.input-dark:hover {
    border-color: rgb(180,180,180);
    background-color: rgb(128,128,128);
}
.input-dark:focus {
    border-color: rgb(211,211,211);
    background-color: rgb(128,128,128);
}