div.layout-box {
  position: relative;
  top: 8px; left: 8px;
  width: 256px;
}
.input-field {
  margin-bottom: 16px;
}
.action-button {
  border-radius: 4px;
  padding: 4px;
}
.error-text {
  color: red;
  margin-block-end: 16px;
}