<div class="column-section">
    
  <!-- MODEL LIST -->
  <div class="left">

    <!-- ADD FORCE BUTTON -->
    <div class="create-force-button-zone" (click)="showFactionListDropdown = true" (appClickElsewhere)="showFactionListDropdown = false">
      <div class="action-button box-light-hover font-title">
        <img src="/assets/icons/icon-outline-plus-128.png">
        <div class="button-text">Add Force</div>
      </div>
      <div *ngIf="showFactionListDropdown" class="create-force-button-dropdown box-white font-normal">
        <div *ngFor="let faction of factions" class="faction-selection box-light-hover" (click)="newForce(faction); showFactionListDropdown = false;">
          <div class="faction-text-box">{{faction.name}}</div>
        </div>
      </div>
    </div>

    <!-- LIST OF FORCES -->
    <div *ngIf="forces" class="force-list">
      <div *ngFor="let force of forces;">
        <app-force-tile [force]="force" [selected]="false" (select)="openForce(force._id)" (change)="ngOnInit()"></app-force-tile>
      </div>
    </div>
  </div>
</div>
