/* multi-column display */
.main-area {
    position: absolute;
    top: 0; 
    bottom: 0;
    overflow-y: auto;    
}

/* BUTTON BAR */
.button-bar {
    padding: 4px;
}
.create-force-button-zone {
    position: relative;
    display: inline-block;
}
.create-force-button-dropdown {
    position: absolute;
    width: 250px;
    top: 32px;
    left: 4px;
    z-index: 2;
}
.create-force-button-dropdown .faction-selection {
    padding: 4px;
    height: 24px;
    border: none;    
}

/* FORCE LIST */
.force-list {
    display: flex;
    flex-flow: row wrap;
}
.force-list div {
    flex: 0 0;
    margin: 4px;
}
