/* MODEL FLEX LAYOUT */
.model-tile {
    position: relative;
    border-radius: 4px;
    display: flex;
    margin-bottom: 4px;
}

/* IMAGE */
.model-image {
    padding: 4px;
}
.model-image img {
    height: 48px;
    width: 48px;
    object-fit: contain; 
    background: white;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

/* TEXT DETAILS */
.model-details-box {
    flex: 1 1 1px;
    padding: 4px;
}
.force-model-name {
    overflow-x: hidden;
    white-space: nowrap;
}
.leader-img {
    width: 14px;
}

/* BUTTONS */
.model-button-box {
    flex: 0 0 78px;
}
.model-button {
    float: left;
    border-radius: 4px;
    height: 20px;
    margin: 16px 2px;
}
.model-button img {
    width: 20px;
}

