<div class="select-dropdown-zone" (clickElsewhere)="dropdownVisible=false ">

  <!-- BUTTON -->
  <div class="select-button box-white-hover" (click)="dropdownVisible=true">

    <!-- customize the contents of the button -->
    <img class="ranged-button-icon" src="/assets/icons/icon-bow-invert.png">
    <div class="ranged-button-text font-bold">Add Ranged Action</div>
    <!-- end customization -->
  
  </div>

  <!-- DROPDOWN -->
  <div *ngIf="dropdownVisible" class="dropdown-content box-white">
    <div *ngFor="let item of itemList" (click)="selectItem(item);" class="dropdown-content-item box-white-hover font-normal">

      <!-- customize the display of the items in the dropdown -->
      ({{item.cost}} points) <span class="font-bold">{{item.name}}</span> [AP: {{item.AP}} | <span *ngIf="item.ONCE">ONCE | </span>RNG: {{item.RNG}} | HIT: {{item.HIT}} | DMG: {{item.DMG}}]
      <div *ngFor="let rule of item.specialRules" class="font-normal">{{rule.ruleName}} - <span [innerHTML]="rule.ruleText"></span></div>
      <!-- end customization -->
      
    </div>
  </div>
</div>