<div class="select-dropdown-zone" (clickElsewhere)="dropdownVisible=false ">

  <!-- BUTTON -->
  <div class="select-button box-white-hover" (click)="dropdownVisible=true">

    <!-- customize the display of the button -->
    <img class="melee-button-icon" src="/assets/icons/icon-sword-invert.png">
    <div class="melee-button-text font-bold">Add Melee Action</div>
    <!-- end customization -->
  
  </div>

  <!-- DROPDOWN -->
  <div *ngIf="dropdownVisible" class="dropdown-content box-white">
    <div *ngFor="let item of itemList" (click)="selectItem(item);" class="dropdown-content-item box-white-hover font-normal">

      <!-- customize the display of the items in the dropdown -->
      {{item.name}}
      <!-- end customization -->
      
    </div>
  </div>
</div>