  <!-- TITLE BOX -->
  <div class="title-box">

    <!-- MODEL PORTRAIT -->
    <div class="model-image-box"><img [src]="'assets/portraits/' + model.factionModelData.modelData.picture"></div>
  
    <!-- MODEL TITLE INFO -->
    <div class="model-text-box">

      <!-- MODEL NAME -->
      <div class="model-text-box-top">
        <div>
          <input *ngIf="allowEdit" class="model-name input-white font-title-big" appTextController [(ngModel)]="model.forceModelName" (blur)="updated.emit()" placeholder="Model name">
          <div *ngIf="!allowEdit" class="model-name font-title-big">{{model.forceModelName}}</div>
        </div>

        <!-- MODEL INFO -->
        <div class="model-traits">
          {{model.factionModelData.modelData.name}}
          <span *ngIf="model.factionModelData.modelData.traits">({{model.factionModelData.modelData.traits}})</span>
          <span *ngIf="model.leader"> , Leader</span><img *ngIf="model.leader" [src]="'assets/icons/icon-leader-128.png'" class="leader-img">
        </div>
        <div class="model-traits">{{model.cost}} Points</div>
      </div>

      <!-- STAT TABLE -->
      <table class="stat-table font-normal">
        <tr>
          <th>SPD</th>
          <th>DEF</th>
          <th>ARM</th>
          <th>HP</th>
        </tr>
        <tr>
          <td>{{model.SPD}}"</td>
          <td>{{model.DEF}}D6</td>
          <td>{{model.ARM}}</td>
          <td>{{model.HP}}</td>          
        </tr>
      </table>
    </div>

  </div>

