/* TITLE AREA */
.title-box { 
    display: flex;
    background-color: white; 
}
.model-image-box  img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    background: white;
}
.model-text-box {
    position: relative;
    margin-left: 8px;
    flex: 1 0;
}
.model-text-box-top {
    height: 86px;
}
input.model-name {
    position: relative;
    left: -6px;
}
div.model-name {
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 250px;
}
.model-traits {
    position: relative;
    top: 4px;
}
.leader-img {
    width: 14px;
}


/* STAT TABLE */
.stat-table {
    border-collapse: collapse; 
    text-align: center;
    width: 100%;
}
.stat-table th {
    background-color: #606060; color: white;
}
.stat-table td {
    background-color: white;
    width: 50px;
}
