/* MULTI-COLUMN DISPLAY */
.column-section {
  position: relative;
  display: flex;
  height: 100%;
}
.column-section .left {
  flex: 1 1 50%;
  padding: 8px;    
  overflow-y: auto;
}
.column-section .right {
  flex: 1 1 50%;
  padding: 8px;
  overflow-y: auto;    
  border: none;
}

@media only screen and ( max-width: 600px ) {
  .column-section .right {
    display: none;
  }
}

/* CREATE ACTION BUTTON */
.create-action-button {
  height: 50px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding: 8px;
}
.create-action-button img {
  width: 32px;
  float: left;
}
.create-action-button .button-text {
  padding-left: 36px;
  padding-top: 7px;
}

/* ACTION TABLE */
.ap-box {
  flex: 0 0 8px;
}
.ap-text {
  padding: 0px 6px 0px 6px; 
  border-radius: 4px; background-color: grey; color: white;
  width: max-content;
}
.text-data {
  text-align: left;
  padding: 4px 8px;
}
.num-data {
  text-align: center;
  padding: 4px 8px;
}
.rule-data {
  text-align: left;
  padding: 0px 4px 4px 32px;
}
tr.hover-row {
  background-color: rgb(211,211,211);
}
tr.selected-row {
  background-color: rgb(128,128,128);
  color: white;
}
tr.shade-row {
  background-color: #e8e8e8;
}
.action-table {
  border-spacing: 0px;
}
.action-table th {
  border: none;
}

/* ACTION TILES */
.action-tile {
  min-width: 212px;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
}
.action-button-column {
  width: 34px;
}
.action-button {
  float: right;
  padding: 4px;
  font-size: 0px;
  border-radius: 4px;
}
.action-button img {
  width: 20px;
}
