.panel {
  padding: 8px;
}
/* CREATE ACTION BUTTON */
.create-action-button {
  height: 50px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding: 8px;
}
.create-action-button img {
  width: 32px;
  float: left;
}
.create-action-button .button-text {
  padding-left: 36px;
  padding-top: 7px;
}

/* ACTION TABLE */
.action-table {
  border-spacing: 0px;
}
.action-table th {
  border: none;
}
tr.not-selected-row:nth-child(even) {
  background-color: #e8e8e8;
}
tr.not-selected-row:hover {
  background-color: rgb(211,211,211);
}
tr.selected-row {
  background-color: rgb(128,128,128);
  color: white;
}
tr.selected-row:hover {
  background-color: rgb(211,211,211);
}

/* COLUMN FORMATTING */
.name-col {
  min-width: 164px;
}
.ability-col {
  min-width: 400px;
}
.text-data {
  text-align: left;
  padding: 4px 8px;
}
.num-data {
  text-align: center;
  width: 32px;
  padding: 4px 8px;
}
.rule-data {
  text-align: left;
  padding: 0px 4px 4px 32px;
}

/* ACTION BUTTONS */
.action-button-column {
  width: 34px;
}
.action-button {
  float: right;
  padding: 4px;
  font-size: 0px;
  border-radius: 4px;
}
.action-button img {
  width: 20px;
}
