<div class="column-section">
    
  <!-- ACTION LIST -->
  <div class="left">

    <!-- CREATE NEW ACTION BUTTON -->
    <div class="create-action-button box-light-hover font-title" (click)="newAction()">
      <img src="/assets/icons/icon-outline-plus-128.png">
      <div class="button-text">New {{actionType}} Action</div>
    </div>

    <!-- ACTION TABLE -->
    <div class="action-table-view">
      <table class="action-table font-normal">
        <tr class="box-dark">
          <th class="num-data">AP</th>
          <th class="text-data">Name</th>
          <th class="text-data">Traits</th>
          <th class="num-data">RNG</th>
          <th class="num-data">HIT</th>
          <th class="num-data">DMG</th>
        </tr>
        <tr *ngFor="let action of actionData; index as actionIndex" 
            class="box-white-hover"
            [class.selected]="actionIndex == selectedDataIndex" 
            (click)="selectedDataIndex = actionIndex">
          <td class="num_data">
            <div class="ap-box font-bold"><div class="ap-text">{{action.AP}}<span *ngIf="action.ONCE"> - ONCE</span></div></div>
          </td>
          <td class="text-data font-bold">{{action.name}}</td>
          <td class="text-data">{{action.traits}}</td>
          <td class="num-data">{{action.RNG}}</td>
          <td class="num-data">{{action.HIT}}</td>
          <td class="num-data">{{action.DMG}}</td>
        </tr>
      </table>
    </div>
  
  </div>

  <!-- ACTION DETAILS -->
  <div class="right box-mid">
    <app-action-view *ngIf="actionData[selectedDataIndex]" [action]="actionData[selectedDataIndex]" [allowEdit]="true" [showMetaInfo]="true"></app-action-view>
  </div>
</div>