<div class="column-section">
    
  <!-- ACTION LIST -->
  <div class="left">

    <!-- CREATE NEW ACTION BUTTON -->
    <div class="create-action-button box-light-hover font-title" (click)="newAction()">
      <img src="/assets/icons/icon-outline-plus-128.png">
      <div class="button-text">New {{actionType}} Action</div>
    </div>

    <!-- ACTION TILES -->
    <div *ngFor="let action of actionData; index as actionIndex" 
        class="action-tile box-light-hover font-normal" 
        [class.selected]="actionIndex == selectedDataIndex" 
        (click)="selectedDataIndex = actionIndex">
      
        <app-action-view style="width:100%" [action]="action"></app-action-view>

        <!-- BUTTON BAND  -->
        <div class="action-button-band">
          <div *ngIf="action.editable" class="action-button box-light-hover" (click)="deleteAction(action)"><img src="/assets/icons/icon-delete-128.png"></div>    
          <div class="action-button box-light-hover" (click)="cloneAction(action)"><img src="/assets/icons/icon-clone-128.png"></div>
        </div>
    </div>
  </div>

  <!-- ACTION DETAILS -->
  <div class="right box-mid">
    <app-action-view *ngIf="actionData[selectedDataIndex]" [action]="actionData[selectedDataIndex]" [allowEdit]="true"></app-action-view>
  </div>
</div>