<!-- ACTION LIST -->
<div class="panel">

  <!-- CREATE NEW ACTION BUTTON -->
  <div class="create-action-button box-light-hover font-title" (click)="newAction()">
    <img src="/assets/icons/icon-outline-plus-128.png">
    <div class="button-text">New {{actionType}} Action</div>
  </div>

  <!-- ACTION TABLE -->
  <div>
    <table class="action-table font-normal">

      <!-- TABLE HEADER -->
      <tr class="box-dark">
        <th class="num-data">COST</th>
        <th class="text-data">NAME</th>
        <th></th>
        <th></th>
        <th class="num-data">AP</th>
        <th class="num-data" *ngIf="actionType != 'SPECIAL'">RNG</th>
        <th class="num-data" *ngIf="actionType != 'SPECIAL'">HIT</th>
        <th class="num-data" *ngIf="actionType != 'SPECIAL'">DMG</th>
        <th class="text-data">ABILITIES</th>
        <th class="text-data">TRAITS</th>
      </tr>

      <!-- TABLE DATA -->
      <tr *ngFor="let action of actionList" 
          class="box-white"
          [class.not-selected-row]="action._id != selectedAction._id"
          [class.selected-row]="action._id == selectedAction._id" 
          (click)="selectRow(action)"
          >
        <td class="num-data">{{action.cost}}</td>
        <td class="name-col text-data font-bold">{{action.name}}</td>
        <td class="action-button-column">
          <div *ngIf="action.editable" class="action-button box-light-hover" (click)="deleteAction(action)"><img src="/assets/icons/icon-delete-128.png"></div>
        </td>
        <td class="action-button-column">
          <div class="action-button box-light-hover" (click)="cloneAction(action)"><img src="/assets/icons/icon-clone-128.png"></div>
        </td>
        <td class="num-data">{{action.AP}}<span *ngIf="action.ONCE"> - ONCE</span></td>
        <td *ngIf="actionType != 'SPECIAL'" class="num-data">{{action.RNG}}</td>
        <td *ngIf="actionType != 'SPECIAL'" class="num-data">{{action.HIT}}</td>
        <td *ngIf="actionType != 'SPECIAL'" class="num-data">{{action.DMG}}</td>
        <td class="text-data ability-col">
          <div *ngFor="let rule of action.specialRules" class="text-data font-small"><i>{{rule.ruleName}}</i> - {{rule.ruleText}}</div>
        </td>
        <td class="text-data">{{action.traits}}</td>
      </tr>
    </table>
  </div>

</div>