/* PAGE LAYOUT */
div.header {
    position:fixed; 
    top:0; height:64px; width:100%; 
    box-sizing: border-box;
}
div.middle {
    position:fixed;  
    top:65px; bottom:0px; width:100%;
}


/* APPLICATION IMAGE */
div.app-image {
    position: absolute;
    top: 0; left: 0; height: 64px; width: 192px;
}
div.app-image img {
    height: 64px; width:192px;
}

/* the menu bar */
div.menu-bar {
    position: absolute;
    left: 192px; top: 0px; right: 0px; height: 62px;
    z-index: 2;
}
div.menu-item {
    float: left;
    margin-top: 14px;
    margin-left:16px;
    border-radius: 8px;
    border: none;
    padding: 6px 16px 0px 16px;
    height: 32px;
    box-sizing: border-box;
    outline: none;
}