
.dark-grey-bg { 
    background: url('/assets/backgrounds/dark-grey-bg.jpg'); 
}
.light-grey-bg { 
    background: url('/assets/backgrounds/light-grey-bg.jpg'); 
}
.orange-bg { 
    background: url('/assets/backgrounds/orange-bg.jpg'); 
}

.orange-text { 
    color: rgb(225, 80, 30); 
}
