/* PAGE LAYOUT */
div.header {
    position:fixed; 
    top:0; height:64px; width:100%; 
    box-sizing: border-box;
    z-index: 2;
}
div.middle {
    position:fixed;  
    top:65px; bottom:0px; width:100%;
}
