<div *ngIf="showHeader" class="header box-mid">
  <div class="app-image"><img src="/assets/icons/age-of-sigmar.jpg"></div>
  <div class="menu-bar">
      <div class="menu-item box-mid-hover font-normal" routerLink="/forces" routerLinkActive="selected">Forces</div>
      <div class="menu-item box-mid-hover font-normal" routerLink="/models" routerLinkActive="selected">Models</div>
      <div class="menu-item box-mid-hover font-normal" routerLink="/specialrules" routerLinkActive="selected">Special Rules</div>
  </div>
</div>
<div [class.middle]="showHeader">
  <router-outlet (activate)="routerOutletActivate($event)"></router-outlet>
</div>