<div *ngIf="showHeader" class="header">
  <div class="appImage"><img src="/assets/icons/age-of-sigmar.jpg"></div>
  <div class="menuBar">
      <div class="font-normal menuItem" routerLink="/forces" routerLinkActive="active">Forces</div>
      <div class="font-normal menuItem" routerLink="/models" routerLinkActive="active">Models</div>
      <div class="font-normal menuItem" routerLink="/specialrules" routerLinkActive="active">Special Rules</div>
  </div>
</div>
<div [class.middle]="showHeader">
  <router-outlet (activate)="routerOutletActivate($event)"></router-outlet>
</div>