.main-page { 
    width: 1100px; 
}
.force-title {
    text-align: center;
    margin-bottom: 16px;
}
.left-column { 
    float:left; width: 518px; 
}
.right-column { 
    float: right; width: 518px; 
}
.model-detail { 
    margin-bottom: 20px; 
    position: relative;
}
.model-count {
    position: absolute;
    z-index: 1;
    border-radius: 32px;
    margin: 0px;
    padding: 8px;
    top: 4px;
    left: 4px;
}
