.main-page {
    width: 800px; 
}
.force-title {
    text-align: center;
    margin-bottom: 16px;
}

/* MODEL COLUMN SECTION */
.page {
    display: flex;
    page-break-after: always;
}
.left-column { 
    flex: 1 1 50%;
}
.column-separator {
    flex: 1 1 4%;
}
.right-column { 
    flex: 1 1 50%;
}

/* MODEL DETAIL */
.model-detail { 
    padding-bottom: 20px; 
    position: relative;
}
.model-count {
    position: absolute;
    z-index: 1;
    border-radius: 32px;
    margin: 0px;
    padding: 8px;
    top: 4px;
    left: 4px;
}
