<div *ngIf="model" class="model-box">

  <!-- TITLE BOX -->
  <div class="title-box">

    <!-- MODEL PORTRAIT -->
    <div class="model-image-box-printable"><img [src]="'assets/portraits/' + model.modelData.picture"></div>
  
    <!-- MODEL TITLE INFO -->
    <div class="model-text-box">

      <!-- MODEL NAME -->
      <div class="model-text-box-top">
        <div *ngIf="!allowEdit" class="model-name font-title-big">{{model.forceModelName}}</div>
        <div *ngIf="allowEdit">
          <input  class="model-name input-white font-title-big" appTextController [(ngModel)]="model.forceModelName" (blur)="saveModelData()" placeholder="Model name">
        </div>

        <!-- MODEL INFO -->
        <div class="model-traits font-normal">{{model.modelData.name}}</div>
        <div class="model-traits font-normal">{{model.cost}} Points</div>
      </div>

      <!-- STAT TABLE -->
      <table class="stat-table font-normal">
        <tr>
          <th>Pw</th>
          <th>Sp</th>
          <th>Ar</th>
          <th>Wn</th>
          <th>Ne</th>
        </tr>
        <tr>
          <td>{{model.modelData.PW}}</td>
          <td>{{model.modelData.SP}}"</td>
          <td>{{model.modelData.AR}}+</td>
          <td>{{model.modelData.WN}}</td>
          <td>{{model.modelData.NE}}+</td>          
        </tr>
      </table>
    </div>

  </div>

  <!-- ATTACKS -->
  <div *ngIf="model.attacks.length > 0" class="section-title font-normal">ATTACKS</div>
  <div *ngFor="let attack of model.attacks" class="action-box font-normal">
    <b>{{attack.modelAttackName}}</b> ( 
      <span *ngIf="attack.attackData.type==='RANGED'">{{attack.attackData.RNG}}"</span>
      <span *ngIf="attack.attackData.type==='MELEE'">MELEE</span>
      , {{attack.attackData.DICE}}D6, {{attack.attackData.HIT}}+, AP{{attack.attackData.AP}}, D{{attack.attackData.DMG}})
    <div *ngFor="let actionRule of attack.attackData.rules" class="action-rule-box">
        <i>{{actionRule.ruleName}}</i> - <span [innerHTML]="actionRule.ruleText"></span>
    </div>
  </div>

  <!-- ACTIONS -->
  
  <!-- MODEL ABILITIES -->
  <div *ngIf="model.abilities.length > 0" class="section-title font-normal">ABILITIES</div>
  <div *ngFor="let ability of model.abilities; index as ruleIndex" class="special-rule">
    <b>{{ability.ruleName}}</b> - <span [innerHTML]="ability.ruleText"></span>
  </div>

</div>

