<div *ngIf="model" class="model-box">

  <!-- TITLE BOX -->
  <div class="title-box">

    <!-- MODEL PORTRAIT -->
    <div class="model-image-box-printable"><img [src]="'assets/portraits/' + model.picture"></div>
  
    <!-- MODEL TITLE INFO -->
    <div class="model-text-box">

      <!-- MODEL NAME -->
      <div class="model-text-box-top">
        <div *ngIf="!editable" class="model-name font-title-big">{{model.forceModelName}}</div>
        <div *ngIf="editable">
          <input  class="model-name input-white font-title-big" appTextController [(ngModel)]="model.forceModelName" (blur)="saveModelData()" placeholder="Model name">
        </div>

        <!-- MODEL INFO -->
        <div class="model-traits font-normal">{{model.name}}</div>
        <div class="model-traits font-normal">{{model.cost}} Points</div>
      </div>

      <!-- STAT TABLE -->
      <table class="stat-table font-normal">
        <tr>
          <th>Pw</th>
          <th>Sp</th>
          <th>Ar</th>
          <th>Wn</th>
          <th>Ne</th>
        </tr>
        <tr>
          <td>{{model.PW}}</td>
          <td>{{model.SP}}"</td>
          <td>{{model.AR}}+</td>
          <td>{{model.WN}}</td>
          <td>{{model.NE}}+</td>          
        </tr>
      </table>
    </div>

  </div>

  <!-- ATTACKS -->
  <div class="section-title font-normal">ATTACKS</div>
  <div *ngFor="let attack of model.attacks" class="action-box font-normal">
    <b>{{attack.modelAttackName}}</b> ( 
      <span *ngIf="attack.type==='RANGED'">{{attack.RNG}}"</span>
      <span *ngIf="attack.type==='MELEE'">MELEE</span>
      , {{attack.DICE}}D6, {{attack.HIT}}+, AP{{attack.AP}}, D{{attack.DMG}})
    <div *ngFor="let actionRule of attack.specialRules" class="action-rule-box">
        <i>{{actionRule.ruleName}}</i> - <span [innerHTML]="actionRule.ruleText"></span>
    </div>
  </div>

  <!-- ACTIONS -->
  
  <!-- MODEL ABILITIES -->
  <div *ngIf="visibleModelRules" class="section-title font-normal">ABILITIES</div>
  <div *ngIf="visibleModelRules" class="model-special-rules-box font-normal">
    <div *ngFor="let specialRule of model.specialRules; index as ruleIndex" class="special-rule">
      <b>{{specialRule.ruleName}}</b> - <span [innerHTML]="specialRule.ruleText"></span>
    </div>
  </div>

</div>

