<div *ngIf="model" class="model-box">

  <!-- TITLE BOX -->
  <div class="title-box">

    <!-- MODEL PORTRAIT -->
    <div class="model-image-box"><img [src]="'assets/portraits/' + model.factionModelData.modelData.picture"></div>
  
    <!-- MODEL TITLE INFO -->
    <div class="model-text-box">

      <!-- MODEL NAME -->
      <div class="model-text-box-top">
        <div *ngIf="!allowEdit" class="model-name font-title-big">{{model.forceModelName}}</div>
        <div *ngIf="allowEdit">
          <input  class="model-name input-white font-title-big" appTextController [(ngModel)]="model.forceModelName" (blur)="saveModelData()" placeholder="Model name">
        </div>

        <!-- MODEL INFO -->
        <div class="model-traits">{{model.factionModelData.modelData.name}}</div>
        <div class="model-traits">{{model.factionModelData.cost}} Points</div>
      </div>

      <!-- STAT TABLE -->
      <table class="stat-table font-normal">
        <tr>
          <th>Pw</th>
          <th>Sp</th>
          <th>Ar</th>
          <th>Wn</th>
          <th>Ne</th>
        </tr>
        <tr>
          <td>{{model.factionModelData.modelData.PW}}</td>
          <td>{{model.factionModelData.modelData.SP}}"</td>
          <td>{{model.factionModelData.modelData.AR}}+</td>
          <td>{{model.factionModelData.modelData.WN}}</td>
          <td>{{model.factionModelData.modelData.NE}}+</td>          
        </tr>
      </table>
    </div>

  </div>

  <!-- ATTACKS -->
  <div *ngIf="model.attacks.length > 0" class="section-title">ATTACKS</div>
  <div *ngFor="let attack of model.attacks" class="section-row">
    <app-attack-details [attack]="attack"></app-attack-details>
  </div>

  <!-- ACTIONS -->
  
  <!-- MODEL ABILITIES -->
  <div *ngIf="model.abilities.length > 0" class="section-title">ABILITIES</div>
  <div *ngFor="let ability of model.abilities; index as ruleIndex" class="section-row">
    <app-ability-details [ability]="ability"></app-ability-details>
  </div>

</div>
