/* HEADER LAYOUT */
.header-section {
    width: 100%; 
    height:64px;
    position: relative;
    box-sizing: border-box;
    border-top: 0px;
    display: flex;
}
.back-arrow {
    width: 64px;
    border: none;
    vertical-align: center;
    box-sizing: border-box;
}
.back-arrow img {
    width:64px;
}

/* CONTENT */
.content-section {
    padding: 4px;
}

/* OPTIONS */
.option-description {
    border: none;
    padding: 4px 0px;
}
.option-choice {
    border: 1px solid;
    padding: 4px;
    margin: 2px 0px 2px 16px;
    border-radius: 4px;
}

/* ATTACKS */
.cost-box {
    border: none;
}
.attack-rule-box {
    padding: 4px 4px 0px 16px;
}
.special-rule-box {
    padding: 4px;
}
