<!-- THE CONTENT AREA -->
<div *ngIf="model" class="content-section">

  <!-- LIST OPTIONS -->
  <div *ngFor="let option of model.modelData.options">
    <div class="option-description">{{option.description}}</div>

    <!-- LIST CHOICES FOR OPTION -->
    <div *ngFor="let choice of option.choices; index as choiceIndex" 
      class="option-choice box-light-hover" 
      (click)="selectChoice(option.id, choiceIndex)"
      [class.selected]="isChoiceSelected(option.id, choiceIndex)"
      >

      <!-- LIST ATTACKS FOR CHOICE -->
      <div *ngFor="let attack of choice.attacks">
        <span class="cost-box">+{{choice.cost}}pts</span> <b>{{attack.modelAttackName}}</b> ( 
          <span *ngIf="attack.attackData.type==='RANGED'">{{attack.attackData.RNG}}"</span>
          <span *ngIf="attack.attackData.type==='MELEE'">MELEE</span>
          , {{attack.attackData.DICE}}D6, HIT {{attack.attackData.HIT}}+, AP{{attack.attackData.AP}}, D{{attack.attackData.DMG}})
        <div *ngFor="let actionRule of attack.attackData.rules; index as actionRuleIndex" class="attack-rule-box">
            <i>{{actionRule.ruleName}}</i> - <span [innerHTML]="actionRule.ruleText"></span>
        </div>
      </div>

      <!-- LIST ABILITIES FOR CHOICE -->
      <div *ngFor="let ability of choice.abilities" class="special-rule-box">
        <span class="cost-box">+{{choice.cost}}pts</span> <b>{{ability.ruleName}}</b> - <span [innerHTML]="ability.ruleText"></span>
      </div>

    </div>
  </div>
</div>

  