<div class="rule-editor" *ngIf="rule">

  <!-- EDITABLE RULE -->
  <div *ngIf="rule.editable">
    
    <!-- RULE NAME -->
    <div class="rule-name">
      <input 
        appTextController
        class="input-light font-title-big" 
        [(ngModel)]="rule.ruleName" 
        (blur)="updateRuleData()">
    </div>
    
    <!-- RULE TEXT -->
    <div class="rule-text"><textarea 
      appTextController
      class="input-light font-normal" 
      [(ngModel)]="rule.ruleText" 
      (blur)="updateRuleData()"></textarea>
    </div>
    
    <!-- MODEL RULE INFO -->
    <div *ngIf="rule.ruleType == 'model'">
      
      <!-- RULE COST -->
      <div class="rule-num-edit font-normal">
        <input 
          type="number" appTextController
          class="input-light font-normal" 
          [(ngModel)]="rule.ruleCost" 
          (blur)="updateRuleData()">
        Points
      </div>

      <!-- Print Visible -->
      <div class="rule-num-edit font-normal">
        <input 
          type="checkbox"
          [(ngModel)]="rule.printVisible" 
          (blur)="updateRuleData()">
        Visible When Printing
      </div>
        
    </div>

    <!-- MODEL STAT MODIFIERS -->
    <div *ngIf="rule.ruleType == 'model'">
      <!-- MOD SPD -->
      <div class="rule-num-edit font-normal">
        <input 
          type="number" appTextController
          class="input-light font-normal" 
          [(ngModel)]="rule.modSPD" 
          (blur)="updateRuleData()">
        Mod SPD
      </div>
  
      <!-- MOD EV -->
      <div class="rule-num-edit font-normal">
        <input 
          type="number" appTextController
          class="input-light font-normal" 
          [(ngModel)]="rule.modEV" 
          (blur)="updateRuleData()">
        Mod EV
      </div>

      <!-- MOD ARM -->
      <div class="rule-num-edit font-normal">
        <input 
          type="number" appTextController
          class="input-light font-normal" 
          [(ngModel)]="rule.modARM" 
          (blur)="updateRuleData()">
        Mod ARM
      </div>

      <!-- MOD HP -->
      <div class="rule-num-edit font-normal">
        <input 
          type="number" appTextController
          class="input-light font-normal" 
          [(ngModel)]="rule.modHP" 
          (blur)="updateRuleData()">
        Mod HP
      </div>

    </div>

    <!-- ATTACK STAT MODIFIERS -->
    <div *ngIf="rule.ruleType == 'model'">
      <!-- MOD STR-BASED DAMAGE -->
      <div class="rule-num-edit font-normal">
        <input 
          type="number" appTextController
          class="input-light font-normal" 
          [(ngModel)]="rule.modStrDMG" 
          (blur)="updateRuleData()">
        Mod Str-based DMG
      </div>
      <!-- MOD MELEE HIT -->
      <div class="rule-num-edit font-normal">
        <input 
          type="number" appTextController
          class="input-light font-normal" 
          [(ngModel)]="rule.modMHIT" 
          (blur)="updateRuleData()">
        Mod Melee HIT
      </div>
      <!-- MOD RANGED HIT -->
      <div class="rule-num-edit font-normal">
        <input 
          type="number" appTextController
          class="input-light font-normal" 
          [(ngModel)]="rule.modRHIT" 
          (blur)="updateRuleData()">
        Mod Ranged HIT
      </div>
    </div>
  </div>

  <!-- NON-EDITABLE RULE -->
  <div *ngIf="!rule.editable">
    <div class="rule-name font-title-big">{{rule.ruleName}}</div>
    <div class="rule-text font-normal">{{rule.ruleText}}</div><br>
    <div *ngIf="rule.ruleType == 'model'" class="font-normal">
      {{rule.ruleCost}} Points<span *ngIf="!rule.printVisible"><br>Not Visible When Printing</span><br>
    </div>
  </div>
</div>
