<div class="rule-editor" *ngIf="rule">
  <div *ngIf="rule.editable">
    <div class="rule-name"><input 
      id="ruleName"
      class="input-light font-title-big" 
      [(ngModel)]="rule.ruleName" 
      (focus)="$event.target.select(); origText = rule.ruleName" 
      (blur)="updateRuleData()" 
      (keyup.enter)="$event.target.blur()" 
      (keyup.escape)="rule.ruleName = origText; $event.target.blur();"></div>
    <div class="rule-cost font-normal"><input 
      id="ruleCost"
      type="number"
      class="input-light font-normal" 
      [(ngModel)]="rule.ruleCost" 
      (focus)="$event.target.select(); origText = rule.ruleCost" 
      (blur)="updateRuleData()" 
      (keyup.enter)="$event.target.blur()" 
      (keyup.escape)="rule.ruleCost = origText; $event.target.blur();">Points</div>
    <div *ngIf="rule.ruleType == 'special' || rule.ruleType == 'attack'" class="rule-ap font-normal"><input 
      id="ruleAP"
      type="number"
      class="input-light font-normal" 
      [(ngModel)]="rule.ruleAP" 
      (focus)="$event.target.select(); origText = rule.ruleAP" 
      (blur)="updateRuleData()" 
      (keyup.enter)="$event.target.blur()" 
      (keyup.escape)="rule.ruleAP = origText; $event.target.blur();">
      <span *ngIf="rule.ruleType == 'special'">AP</span>
      <span *ngIf="rule.ruleType == 'attack'">Adjust Attack AP</span>
    </div>
    <div class="rule-text"><textarea 
      id="ruleText"
      class="input-light font-normal" 
      [(ngModel)]="rule.ruleText" 
      (focus)="$event.target.select(); origText = rule.ruleText" 
      (blur)="updateRuleData()" 
      (keyup.control.enter)="$event.target.blur()" 
      (keyup.escape)="rule.ruleText = origText; $event.target.blur();"></textarea></div>
  </div>
  <div *ngIf="!rule.editable">
      <div class="rule-name font-title-big">{{rule.ruleName}}</div>
      <div class="rule-cost font-normal">{{rule.ruleCost}} Points</div>
      <div *ngIf="rule.ruleType == 'special'" class="rule-ap font-normal">{{rule.ruleCost}} AP</div>
      <div class="rule-text font-normal">{{rule.ruleText}}</div>
  
  </div>
</div>
