/* RULE EDITOR */
.rule-name {
  margin-bottom: 8px;
}
.rule-ap {
  display: inline-block;
  margin-left: 64px;
  margin-bottom: 8px;
}
.rule-ap input {
  width: 48px;
  margin-right: 8px;
}
.rule-text textarea {
  height: 256px;
  margin-right: 8px;    
}
.rule-num-edit {
  display: inline-block;
  margin-bottom: 8px;
}
.rule-num-edit input[type="number"] {
  width: 48px;
  margin-right: 8px;
}
.rule-num-edit:not(:first-child) {
  margin-left: 32px;
}
