/* multi-column display */
div.multiColumnSection {
    display: flex;
    margin: auto;
}
div.multiColumnSection .leftColumn {
    flex: 0 0 250px;
    margin: 16px;
}
div.multiColumnSection .rightColumn {
    flex: 0 0 518px;
    border: none; 
    margin: 16px;
}

/* dropdown display styles */
.dropdownInput {
    display: inline;
}
.dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid;
    background: white;
}
.dropdownInput:focus ~ .dropdownContent {
    display: block;
}
.dropdownContent:hover {
    display: block;
}
.dropdownContent div:hover {
    background: darkslategrey;
    color: white;
}

