<div *ngIf="model" class="modelBox">

  <!-- TITLE BOX -->
  <div class="titleBox">

    <!-- MODEL TITLE INFO -->
    <div class="modelTextBox">
      <div><input class="input-white font-title-big" textController [(ngModel)]="model.name" (blur)="saveModelData()" placeholder="Model name"></div>
      <div><input class="input-white font-traits" textController [(ngModel)]="model.traits" (blur)="saveModelData()" placeholder="Model traits"></div>
      <div class="modelCost font-normal">{{model.cost}} points</div>
      <table class="statTable font-bold">
        <tr>
          <th>SPD</th>
          <th>EV</th>
          <th>ARM</th>
          <th>HP</th>
        </tr>
        <tr>
          <td>{{model.SPD}}</td>
          <td>{{model.EV}}</td>
          <td>{{model.ARM}}</td>
          <td>{{model.HP}}</td>
        </tr>
      </table>
    </div>

    <!-- MODEL PORTRAIT -->
    <div class="model-image-zone" (clickElsewhere)="showModelPortraitsDropdown=false">
      <div class="model-image-box input-white" (click)="showModelPortraitsDropdown = true">
        <img [src]="'assets/portraits/' + model.picture">
      </div>
      <div *ngIf="showModelPortraitsDropdown" class="model-image-dropdown box-light-hover">
        <div *ngFor="let portrait of modelPortraits" class="model-image-selection input-white" (click)="selectPortrait(portrait)">
          <img [src]="'assets/portraits/' + portrait">
        </div>
      </div>
    </div>
  </div>

  <!-- MODEL SPECIAL RULES -->
  <div class="modelSpecialRulesBox font-normal">
    <div *ngFor="let specialRule of model.specialRules; index as ruleIndex" class="specialRule">
      <div class="remove-button box-white-hover" (click)="deleteModelSpecialRule(ruleIndex)"><img src="/assets/icons/icon-delete-128.png"></div>
      <b>{{specialRule.ruleName}}</b> - <span [innerHTML]="specialRule.ruleText"></span>
    </div>
    <app-special-rule-selector [ruleType]="'model'" [title]="'Add Model Rule'" (ruleSelected)="addModelSpecialRule($event)"></app-special-rule-selector>
  </div>

  <!-- ACTIONS -->
  <div *ngFor="let action of model.actions; index as actionIndex" class="action-box">
    <app-action-view [action]="action" [allowEdit]="true" (deleteModelAction)="deleteAction(actionIndex)" (updateModelAction)="saveModelData()"></app-action-view>
  </div>

  <!-- BUTTONS TO ADD ACTIONS -->
  <br>
  <div>
    <div class="add-action-button">
      <app-dropdown-melee (itemSelected)="addAction($event)"></app-dropdown-melee>
    </div>
    <div class="add-action-button">
      <app-dropdown-ranged (itemSelected)="addAction($event)"></app-dropdown-ranged>
    </div>
    <div class="add-action-button">
      <app-dropdown-special (itemSelected)="addAction($event)"></app-dropdown-special>
    </div>
  </div>
</div>

