.header {
  width: 100%;
  border-top: 0px;
  display: flex;
}

.back-arrow {
  border: none;
}
.back-arrow img {
  width:64px;
}
.action-name {
  width: 327px;
  margin-left: 8px;
  margin-top: 16px;
}
.content {
  padding: 16px;
  height: 100%;
  border: none;
}
.action-box {
  max-width: 650px;;
}

