<div *ngIf="model" class="model-box">

  <!-- MODEL HEADER INFO -->
  <app-header-details [model]="model" (updated)="updated.emit()"></app-header-details>

  <!-- ATTACKS -->
  <div *ngIf="model.attacks.length > 0" class="section-title">ATTACKS</div>
  <div *ngFor="let attack of model.attacks" class="section-row">
    <app-attack-details [attack]="attack"></app-attack-details>
  </div>

  <!-- ACTIONS -->
  <div *ngIf="model.actions.length > 0" class="section-title">ACTIONS</div>
  <div *ngFor="let action of model.actions" class="section-row">
    <app-action-details [action]="action"></app-action-details>
  </div>
  
  <!-- MODEL ABILITIES -->
  <div *ngIf="model.abilities.length > 0" class="section-title">ABILITIES</div>
  <div *ngFor="let ability of model.abilities; index as ruleIndex" class="section-row">
    <app-ability-details [ability]="ability"></app-ability-details>
  </div>

</div>
