<div *ngIf="model" class="model-box">

  <!-- TITLE BOX -->
  <div class="title-box">

    <!-- MODEL PORTRAIT -->
    <div *ngIf="!editable" class="model-image-box-printable"><img [src]="'assets/portraits/' + model.picture"></div>
    <div *ngIf="editable" class="model-image-zone" (appClickElsewhere)="showModelPortraitsDropdown=false">
      <div class="model-image-box input-white" (click)="showModelPortraitsDropdown = true">
        <img [src]="'assets/portraits/' + model.picture">
      </div>
      <div *ngIf="showModelPortraitsDropdown" class="model-image-dropdown box-light-hover">
        <div *ngFor="let portrait of modelPortraits" class="model-image-selection input-white" (click)="selectPortrait(portrait)">
          <img [src]="'assets/portraits/' + portrait">
        </div>
      </div>
    </div>
  
    <!-- MODEL TITLE INFO -->
    <div class="model-text-box">

      <!-- MODEL NAME -->
      <div>
        <span *ngIf="!editable" class="model-name font-title-big">{{model.name}}</span>
        <input *ngIf="editable" class="model-name input-white font-title-big" appTextController [(ngModel)]="model.name" (blur)="saveModelData()" placeholder="Model name">
      </div>

      <!-- MODEL TRAITS -->
      <div *ngIf="!editable" class="model-traits font-traits">{{model.traits}}</div>
      <div *ngIf="editable"><input *ngIf="editable" class="model-traits input-white font-traits" appTextController [(ngModel)]="model.traits" (blur)="saveModelData()" placeholder="Model traits"></div>

      <!-- MODEL COST -->
      <div class="model-cost font-italic font-bold">{{model.cost}} points, Max 2</div>

      <!-- STAT TABLE -->
      <table class="stat-table font-bold">
        <tr>
          <th>Pw</th>
          <th>Sp</th>
          <th>Ar</th>
          <th>Wn</th>
          <th>Ne</th>
        </tr>
        <tr>
          <td>1</td>
          <td>{{model.SPD}}"</td>
          <td>{{model.ARM}}+</td>
          <td>{{model.HP}}</td>
          <td>{{model.EV}}+</td>          
        </tr>
      </table>
    </div>

  </div>

  <!-- ACTIONS -->
  <div class="section-title font-normal">WEAPONS</div>
  <div *ngFor="let action of model.actions; index as actionIndex" class="action-box font-normal">
    <b>{{action.modelActionName}}</b> (12", 2D6, HIT 4+, AP1, D1)
    <div *ngFor="let actionRule of action.specialRules; index as actionRuleIndex" class="action-rule-box">
        <i>{{actionRule.ruleName}}</i> - <span [innerHTML]="actionRule.ruleText"></span>
    </div>
  </div>

  <!-- MODEL ABILITIES -->
  <div class="section-title font-normal">ABILITIES</div>
  <div *ngIf="visibleModelRules" class="model-special-rules-box font-normal">
    <div *ngFor="let specialRule of model.specialRules; index as ruleIndex" class="special-rule" [class.hidden]="!editable && !specialRule.printVisible">
      <div *ngIf="editable" class="remove-button box-white-hover" (click)="deleteModelSpecialRule(ruleIndex)"><img src="/assets/icons/icon-delete-128.png"></div>
      <b>{{specialRule.ruleName}}</b> - <span [innerHTML]="specialRule.ruleText"></span>
    </div>
    <app-special-rule-selector *ngIf="editable" [ruleType]="'model'" [title]="'Add Model Rule'" (ruleSelected)="addModelSpecialRule($event)"></app-special-rule-selector>
  </div>

  <!-- BUTTONS TO ADD ACTIONS -->
  <div *ngIf="editable">
    <br>
    <div class="add-action-button">
      <app-dropdown-melee (itemSelected)="addAction($event)"></app-dropdown-melee>
    </div>
    <div class="add-action-button">
      <app-dropdown-ranged (itemSelected)="addAction($event)"></app-dropdown-ranged>
    </div>
    <div class="add-action-button">
      <app-dropdown-special (itemSelected)="addAction($event)"></app-dropdown-special>
    </div>
  </div>
</div>

