/* the main model box */
.model-box { 
    border:solid 2px black; 
    background-color:lightgrey;
}

/* title area */
.title-box { 
    display: flex;
    background-color: white; 
}
.model-text-box {
    position: relative;
    margin-left: 8px;
    flex: 1 0;
}
input.model-name {
    position: relative;
    top: -2px;
    left: -6px;
}
div.model-traits {
    position: relative;
    top: 4px;
    margin-bottom: 8px;
}
input.model-traits {
    position: relative;
    top: -2px;
    left: -6px;
}
.model-cost { 
    margin-bottom: 8px;
    padding: 2px 6px 2px 6px;
    width: max-content;
    background-color: grey; color: white; border-radius: 3px;
}

/* MODEL PORTRAIT DISPLAY & SELECTION */
.model-image-zone {
    position: relative;
}
.model-image-box-printable  img {
    height: 120px;
}
.model-image-box {
    height: 136px;
}
.model-image-box img {
    width: 132px;
}
.model-image-dropdown {
    position: absolute;
    top: 137px;
    width: 456px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}
.model-image-selection {
    padding: 4px;
    width: 76px; height: 76px;
    border-radius: 0px;
    background: white;
}
.model-image-selection img {
    width: 64px;
}


/* stats table */
.stat-table {
    border-collapse: collapse; 
    font-weight: bold; 
    text-align: center;
    width: 100%;
}
.stat-table th {
    background-color: grey; color: white;
}
.stat-table td {
    background-color: white;
    width: 50px;
}

/* MODEL SPECIAL RULES */
.special-rule {
    padding: 4px;
}
.special-rule:nth-child(even) {
    background-color: #e8e8e8; 
}
.special-rule:nth-child(odd) {
    background-color: white; 
}

/* SECTIONS */
.section-title {
    font-weight: bold;
    padding: 4px;
    background: black;
    color: white;
}

/* ACTIONS */
.action-box {
    padding: 4px;
}
.action-box:nth-child(even) {
    background-color: #e8e8e8;
}
.action-box:nth-child(odd) {
    background-color: white;
}
.action-rule-box {
    padding: 4px 4px 0px 16px;
}


/* ADD ACTION BUTTONS */ 
.add-action-button {
    margin-bottom: 4px;
}

/* REMOVE BUTTONS */
.remove-button {
    margin-right: 8px;
    border: none;
    height: 18px;
    float: left;
}
.remove-button img {
    width: 18px;
}

/* Used to hide an element */
.hidden {
    display: none;
}