<div class="model-tile box-light-hover" [class.selected]="selected">
  <div class="model-image-box">
    <img class="model-image" [src]="'assets/portraits/' + model.picture">
  </div>
  <div class="model-details-box">
    <div class="model-name font-title">{{model.name}}</div>
    <div class="model-cost font-normal">{{model.cost}} points</div>
    <div class="model-button-band">
      <div class="model-button box-light-hover"><img src="/assets/icons/icon-ellipsis-128.png"></div>
      <div class="model-button box-light-hover" (click)="cloneModel()"><img src="/assets/icons/icon-clone-128.png"></div>
      <div *ngIf="force" class="model-button box-light-hover" (click)="increaseForceCount()"><img src="/assets/icons/icon-plus-128.png"></div>
      <div *ngIf="force" class="model-button box-light-hover" (click)="decreaseForceCount()"><img src="/assets/icons/icon-minus-128.png"></div>
    </div>
  </div>
</div>  
