<div class="app-title-img background orange-bg"><img src="/assets/icons/app-logo.png"></div>
<div class="app-title font-orange">VANGUARD</div>

<!-- USER MENU DROPDOWN -->
<div class="menu-dropdown-zone-right" (appClickElsewhere)="showUserMenuDropdown = false">
  <div class="menu-dropdown-button-right box-mid-hover" (click)="showUserMenuDropdown = !showUserMenuDropdown">
    <img src="/assets/icons/icon-user-128.png">
  </div>
  <div *ngIf="showUserMenuDropdown" class="menu-dropdown-right box-white">
    <div *ngIf="!userService.userName">
        <div class="menu-dropdown-item box-white-hover font-normal" routerLink="/login" routerLinkActive="selected">Log In</div>
        <div class="menu-dropdown-item box-white-hover font-normal" routerLink="/signup" routerLinkActive="selected">Sign Up</div>
    </div>
    <div *ngIf="userService.userName">
      <div class="menu-dropdown-item box-white font-normal">{{userService.userName}}</div>
      <div class="menu-dropdown-separator"></div>
      <div class="menu-dropdown-item box-white-hover font-normal" (click)="logout()">Log Out</div>
    </div>   
  </div>