/* MODEL BOX */
.force-tile {
    height: 136px;
    width: 212px;
    border-radius: 4px;
    box-sizing: border-box;
}
.force-text {
    border: none;
    padding: 8px;
    padding-bottom: 4px;
}
.force-details {
    margin-bottom: 4px;
}
.force-button-band {
    width: 212px;
}

/* buttons */
.force-button {
    float: right;
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 28px;
}
.force-button img {
    width: 20px;
    margin: 4px;
}
