<div class="force-tile box-light" [class.selected]="selected">
  <div class="force-text box-light-hover" (click)="select.emit()">
    <div class="force-details font-title">{{force.name}}</div>
    <div class="force-details font-subtitle">{{force.faction.name}}</div>
    <div class="force-details font-subtitle">{{force.cost}} points</div>
  </div>
  <div class="force-button-band">
    <div class="force-button box-light-hover" (click)="deleteForce()"><img src="/assets/icons/icon-delete-128.png"></div>
  </div>
</div>  
