<div class="action-box" *ngIf="action">

  <!-- ACTION TITLE -->
  <div class="action-title-box">

    <!-- AP -->
    <div *ngIf="!editable" class="action-ap font-bold">
      <div class="action-ap-text">{{action.AP}}<span *ngIf="action.ONCE"> - ONCE</span></div>
    </div>
    <div *ngIf="editable" class="action-ap-dropdown-zone" (clickElsewhere)="showAPDropdown = false">
      <div class="action-ap-dropdown-button font-bold" (click)="showAPDropdown = true">{{action.AP}}<span *ngIf="action.ONCE"> - ONCE</span></div>
      <div *ngIf="showAPDropdown" class="action-ap-dropdown box-white font-normal">
        <div *ngFor="let value of AP_VALUES" 
            class="action-ap-dropdown-item box-white-hover" 
            (click)="selectAP(value.ap, value.once)">
          {{value.ap}} AP<span *ngIf="value.once"> - ONCE</span>
        </div>
      </div>
    </div>

    <!-- NAME -->
    <div class="action-name font-title">
        <input *ngIf="editable" textController class="input-white font-title" [(ngModel)]="action.name" (blur)="updateAction()" placeholder="Model Name">
        <span *ngIf="!editable">{{action.name}}</span>
    </div>

    <!-- TRAITS -->
    <div class="action-traits font-traits">
      <input *ngIf="editable" textController class="input-white font-traits" [(ngModel)]="action.traits" (blur)="updateAction()" placeholder="Model Traits">
      <span *ngIf="!editable">{{action.traits}}</span>
    </div>

  </div>

  <!-- ATTACK ACION -->
  <div class="attack-action-details" *ngIf="action.type == 'MELEE' || action.type == 'RANGED'">

    <!-- STAT BAR -->
    <div class="attack-action-stat-bar">

      <!-- ICON -->
      <div class="attack-action-icon">
        <img *ngIf="action.type == 'MELEE'" src="assets/icons/icon-sword-invert.png">
        <img *ngIf="action.type == 'RANGED'" src="assets/icons/icon-bow-invert.png">
      </div>

      <!-- STATS -->
      <div class="attack-action-table-div">
        <table class="attack-action-table font-bold">
          <tr class="stat-header">
            <th>RNG</th>
            <th>HIT</th>
            <th>DMG</th>
          </tr>
          <tr *ngIf="!editable" class="stat-data">
            <td>{{action.RNG}}</td>
            <td>{{action.HIT}}</td>
            <td>{{action.DMG}}</td>
          </tr>
          <tr *ngIf="editable" class="stat-data">
            <td *ngIf="action.type == 'MELEE'">
              <select [(ngModel)]="action.RNG" class="input-white font-bold" (change)="selectStat($event.target.value, 'RNG-MELEE')">
                <option *ngFor="let RNG of modelDataService.MELEE_RNG_COST;" class="input-white" [value]="RNG.stat">{{RNG.stat}}</option></select>
            </td>
            <td *ngIf="action.type == 'RANGED'">
              <select [(ngModel)]="action.RNG" class="input-white font-bold" (change)="selectStat($event.target.value, 'RNG-RANGED')">
                <option *ngFor="let RNG of modelDataService.RANGED_RNG_COST;" class="input-white" [value]="RNG.stat">{{RNG.stat}}</option></select>
            </td>
            <td >
              <select [(ngModel)]="action.HIT" class="input-white font-bold" (change)="selectStat($event.target.value, 'HIT')">
                <option *ngFor="let HIT of modelDataService.HIT_COST;" class="input-white" [value]="HIT.stat">{{HIT.stat}}</option></select>
            </td>
            <td >
              <select [(ngModel)]="action.DMG" class="input-white font-bold" (change)="selectStat($event.target.value, 'DMG')">
                <option *ngFor="let DMG of modelDataService.DMG_COST;" class="input-white" [value]="DMG.stat">{{DMG.stat}}</option></select>
            </td>
          </tr>
        </table>
      </div>

      <div style="clear: both"></div> <!-- This is an HTML technique to make sure that the div's height is set properly -->
      
    </div>

    <!-- ATTACK SPECIAL RULES -->
    <div *ngIf="action.specialRules.length > 0 || editable" class="attack-action-special-rules-box" >
      <div *ngFor="let specialRule of action.specialRules; index as ruleIndex" class="special-action-rule font-normal">
        <div *ngIf="editable" class="remove-button box-white-hover" (click)="deleteRule(ruleIndex)"><img src="assets/icons/icon-delete-128.png"><div></div></div>
        <b>{{specialRule.ruleName}}</b> - <span [innerHTML]="specialRule.ruleText"></span>
      </div>
      <app-special-rule-selector *ngIf="editable" [ruleType]="'attack'" (ruleSelected)="addRule($event)"></app-special-rule-selector>
    </div>
  </div>

  <!-- SPECIAL ACION -->
  <div *ngIf="action.type == 'SPECIAL'" class="special-action-details">
    <div class="special-action-rules-box">
      <div class="special-action-icon"><img src="assets/icons/icon-star-invert.png"></div>
      <div *ngFor="let specialRule of action.specialRules; index as ruleIndex" class="special-action-rule font-normal">
        <div *ngIf="editable" class="remove-button box-white-hover" (click)="deleteRule(ruleIndex)"><img src="assets/icons/icon-delete-128.png"><div></div></div>
        <b>{{specialRule.ruleName}}</b> - <span [innerHTML]="specialRule.ruleText"></span>
      </div>
      <app-special-rule-selector *ngIf="editable" [ruleType]="'action'" (ruleSelected)="addRule($event)"></app-special-rule-selector>
    </div>      
  </div>
</div>