<div class="action-box" *ngIf="action">

  <!-- ACTION TITLE -->
  <div class="action-title-box">
    <div *ngIf="!editable" class="action-ap font-bold">
      <div class="action-ap-text">{{action.AP}}<span *ngIf="action.ONCE"> - ONCE</span></div>
    </div>

    <div *ngIf="editable" class="action-ap-dropdown-zone">
      <div class="action-ap-dropdown-button font-bold" (click)="showAPDropdown = true">{{action.AP}}<span *ngIf="action.ONCE"> - ONCE</span></div>
      <div *ngIf="showAPDropdown" class="action-ap-dropdown box-white font-normal">
        <div class="action-ap-dropdown-item box-white-hover" (click)="selectAP(0, false)" >0 AP</div>
        <div class="action-ap-dropdown-item box-white-hover" (click)="selectAP(1, false)" >1 AP</div>
        <div class="action-ap-dropdown-item box-white-hover" (click)="selectAP(2, false)" >2 AP</div>
        <div class="action-ap-dropdown-item box-white-hover" (click)="selectAP(0, true)" >0 AP - ONCE</div>
        <div class="action-ap-dropdown-item box-white-hover" (click)="selectAP(1, true)" >1 AP - ONCE</div>
        <div class="action-ap-dropdown-item box-white-hover" (click)="selectAP(2, true)" >2 AP - ONCE</div>
      </div>
    </div>
    <div class="action-name font-bold">
        <input *ngIf="editable" class="input-white font-bold" [(ngModel)]="action.name" (blur)="updateAction()">
        <span *ngIf="!editable">{{action.name}}</span>
    </div>
    <div class="action-traits font-italic">
      <input *ngIf="editable" class="input-white font-italic" [(ngModel)]="action.traits" (blur)="updateAction()">
      <span *ngIf="!editable">{{action.traits}}</span>
    </div>
  </div>

  <!-- ATTACK ACION -->
  <div class="attack-action-details" *ngIf="action.type == 'MELEE' || action.type == 'RANGED'">
    <div class="attack-action-stat-bar">
      <div class="attack-action-icon">
        <img *ngIf="action.type == 'MELEE'" src="assets/icons/icon-sword-invert.png">
        <img *ngIf="action.type == 'RANGED'" src="assets/icons/icon-bow-invert.png">
      </div>
      <div class="attack-action-table-div">
        <table class="attack-action-table font-bold">
          <tr class="stat-header">
            <th>RNG</th>
            <th>HIT</th>
            <th>DMG</th>
          </tr>
          <tr class="stat-data">
            <td>{{action.RNG}}</td>
            <td>{{action.HIT}}</td>
            <td>{{action.DMG}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="action.specialRules.length > 0 || editable" class="attack-action-special-rules-box" >
      <div *ngFor="let specialRule of action.specialRules; index as ruleIndex" class="special-action-rule font-normal">
        <div class="remove-button box-white-hover" (click)="deleteAttackRule(ruleIndex)"><img src="assets/icons/icon-delete-128.png"><div></div></div>
        <b>{{specialRule.ruleName}}</b> - <span [innerHTML]="specialRule.ruleText"></span>
      </div>
      <app-special-rule-selector *ngIf="editable" [ruleType]="'attack'" (ruleSelected)="addAttackRule($event)"></app-special-rule-selector>
    </div>
  </div>

  <!-- SPECIAL ACION -->
  <div *ngIf="action.type == 'SPECIAL'" class="special-action-details">
    <div class="special-action-rules-box">
      <div class="special-action-icon"><img src="assets/icons/icon-star-invert.png"></div>
      <div *ngFor="let specialRule of action.specialRules" class="special-action-rule font-normal">
        <b>{{specialRule.ruleName}}</b> - <span [innerHTML]="specialRule.ruleText"></span>
      </div>
    </div>      
  </div>
</div>