/* HEADER LAYOUT */
.header-section {
    width: 100%; 
    height:64px;
    position: relative;
    box-sizing: border-box;
    border-top: 0px;
    display: flex;
}
.back-arrow {
    width: 64px;
    border: none;
    vertical-align: center;
    box-sizing: border-box;
}
.back-arrow img {
    width:64px;
}

/* CONTENT */
.content-section {
    position: absolute;
    width: 100%;
    top: 64px; 
    bottom: 0px;
    display: flex;    
}
