<!-- THE HEADER BAND -->
<div *ngIf="model" class="header-section box-dark orange-bg">
  <div class="back-arrow box-dark-hover" (click)="backArrow()"><img src="/assets/icons/icon-arrow-left-128.png"></div>
  <div>
    <div class="header-title font-title-big">{{model.forceModelName}}</div>
    <div class="header-subtitle font-subtitle">Choose Options</div>
  </div>
</div>
  
<!-- THE CONTENT AREA -->
<div *ngIf="model" class="content-section">

  <!-- MODEL VIEW -->
  <app-model-view [model]="model" [allowEdit]="true" (updated)="saveForce()"></app-model-view>

  <!-- OPTION SELECTOR -->
  <app-model-options [force]="force" [model]="model" (updated)="saveForce()"></app-model-options>

</div>
  